# Visual Studio
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.ipch
*.VC.db
*.VC.VC.opendb
*.excludes
Debug/
Release/
x64/
x86/
ARM/
ARM64/
*.log
*.tlog/
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.cache
*.tmp
*.dll
*.exe
*.manifest
*.lib
*.exp
*.iobj
*.ipdb
*.rsp
*.sbr
*.tr
*.gpState
*.ncb
*.lastbuildstate
*.bak
*.old
*.psess
*.pidb
*.svclog
*.vscode/
*.db
*.vsidx
# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
# SDL build artifacts
*.bmp
*.png
# OS files
.DS_Store
Thumbs.db
# App data
scores.dat
